<div class="container-lg pb-2">
  <h1>Welcome <%= user.username %></h1>

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-dark text-light d-flex justify-content-between align-items-center">
      <% if (locals.folderName) { %>
        <h3 class="m-1"><%= folderName %></h3>
      <% } else {%>
        <h3 class="m-1">My Drive</h3>
      <% } %>

      <% if (locals.parentFolderId) { %>
        <a class="btn btn-outline-light btn-sm" href="/folders/<%= parentFolderId %>">Go back</a>
      <% } else if (locals.folderId !== undefined) { %>
        <a class="btn btn-outline-light btn-sm" href="/folders">Go back</a>
      <% } %>
    </div>

    <div class="p-2 bg-light d-flex flex-wrap gap-2 justify-content-sm-start justify-content-evenly">
      <div class=""><%- include("partials/upload-file-form", locals) %></div>
      <div class=""><%- include("partials/new-folder-form", locals) %></div>
    </div>
    
    <ul class="list-group list-group-flush">
      <%- include("partials/folders-list", locals) %>
      <%- include("partials/files-list", locals) %>

      <% if (folders.length === 0 && files.length === 0) { %>
        <li class="list-group-item text-center text-muted">
          No folders or files available.
        </li>
      <% } %>
    </ul>
  </div>

</div>
