<div class="container d-flex justify-content-center py-3">
  <div class="card shadow-sm">
    <div class="card-header bg-light p-4">
      <h1 class="text-center fw-bold mb-3">Join NeoDrive</h1>
      <p class="text-center text-muted m-0">
        Store, manage, and access your files anytime, anywhere.
      </p>
    </div>

    <div class="card-body pb-0">
      <div class="text-center mb-3">
        <h5 class="fw-bold mb-2">Try NeoDrive Now!</h5>
        <p class="text-muted">Sign in as a guest to see what you can do.</p>
        <form action="/signin/guest" method="POST">
          <button type="submit" class="btn btn-primary fw-semibold">Try Now</button>
        </form>
      </div>
      <hr class="my-3" />

      <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Choose a username"
            autofocus
            required
            <% if (locals.username) { %>
              value="<%= locals.username %>"
             <% } %>
          />
          <div class="invalid-feedback">Please provide a valid username.</div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create a password"
            required
          />
          <div class="invalid-feedback">Please provide a password.</div>
        </div>

        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm Password</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            class="form-control"
            placeholder="Re-type your password"
            required
          />
          <div class="invalid-feedback">Please provide a password.</div>
        </div>

        <div class="form-text text-muted mb-3">
          Your password must contain the following:
          <ul class="mb-0">
            <li>At least 8 characters</li>
            <li>At least one uppercase letter</li>
            <li>At least one lowercase letter</li>
            <li>At least one digit</li>
            <li>At least one special character (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)</li>
          </ul>
        </div>

        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary fw-semibold">Sign Up</button>
        </div>
      </form>

      <hr class="my-3" />
      <div class="text-center">
        <h5 class="fw-bold mb-2">Why Choose NeoDrive?</h5>
        <div class="d-flex justify-content-center align-items-center">
          <ul class="list-unstyled text-muted small d-flex flex-column align-items-start">
            <li><i class="bi bi-check-square me-1"></i> Access your files from any device</li>
            <li><i class="bi bi-check-square me-1"></i> Share files seamlessly with others</li>
            <li><i class="bi bi-check-square me-1"></i> Simple and user-friendly interface</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <p class="text-center my-1">
        Already have an account?
        <a href="/signin" class="text-primary fw-semibold text-decoration-none">Sign In</a>
      </p>
    </div>
  </div>
</div>


<script>
  if ("<%= locals.usernameErrors || `` %>" !== "") {
    const usernameInput = document.getElementById("username");
    const usernameErrors = "<%= locals.usernameErrors || `` %>".split(",");
    const feedback = usernameInput.nextElementSibling;

    usernameInput.classList.add("is-invalid");
    feedback.textContent = "";
    feedback.classList.add("d-flex", "flex-column");
    
    usernameErrors.forEach((error) => {
      const errorElement = document.createElement("span");
      errorElement.textContent = error;
      feedback.appendChild(errorElement);
    });

    usernameInput.addEventListener("input", function() {
      usernameInput.classList.remove("is-invalid");
      feedback.textContent = "";
      feedback.classList.remove("d-flex", "flex-column");
    }, { once: true });
  }

  if ("<%= locals.passwordErrors || `` %>" !== "") {
    const passwordInput = document.getElementById("password");
    const passwordErrors = "<%= locals.passwordErrors || `` %>".split(",");
    const feedback = passwordInput.nextElementSibling;

    passwordInput.classList.add("is-invalid");
    feedback.textContent = "";
    feedback.classList.add("d-flex", "flex-column");
    
    passwordErrors.forEach((error) => {
      const errorElement = document.createElement("span");
      errorElement.textContent = error;
      feedback.appendChild(errorElement);
    });

    passwordInput.addEventListener("input", function() {
      passwordInput.classList.remove("is-invalid");
      feedback.textContent = "Please enter your password.";
      feedback.classList.remove("d-flex", "flex-column");
    }, { once: true });
  }

  const confirmPasswordError = `<%= locals.confirmPasswordError || "" %>`;
  const confirmPasswordInput = document.getElementById("confirm_password");
  if (confirmPasswordError !== "") {
    confirmPasswordInput.classList.add("is-invalid");
    confirmPasswordInput.nextElementSibling.textContent = confirmPasswordError;

    confirmPasswordInput.addEventListener("input", function() {
      confirmPasswordInput.classList.remove("is-invalid");
      confirmPasswordInput.nextElementSibling.textContent = "Please enter your password.";
    }, { once: true });
  }
</script>
